{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Auctions{% endblock %}</title>
        <script src="https://kit.fontawesome.com/a1fc634586.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body class="has-background-white-ter">        
        <nav class="navbar is-dark is-fixed-top">
            <div class="navbar-brand">
                <a class="navbar-item " href="{% url 'index' %}">
                    <span class="icon is-medium has-text-white mr-2">
                        <i class="fas fa-gavel fa-2x"></i>
                    </span>
                    <h2 class="title is_2 has-text-white">Auctions</h2>
                </a>                
            </div>            
            <div class="navbar-menu">        
                <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'index' %}">Active Listings</a>
                        <a class="navbar-item" href="{% url 'categories' %}">Categories</a>
                    {% if user.is_authenticated %}
                        <a class="navbar-item" href="{% url 'watchlist' %}">Watchlist<span class="tag ml-1 is-light">{{watch_number}}</span></a>
                        <a class="navbar-item" href="{% url 'create_listing' %}">Create Listing</a>    
                    {% endif %}
                </div>    
                
                <div class="navbar-end">
                    {% if user.is_authenticated %}
                        <div class="navbar-item">Logged in as {{ user.username }}.</div>
                        <div class="buttons  mr-2">
                            <a class="button is-danger" href="{% url 'logout' %}">Log Out</a>    
                        </div>                    
                    {% else %}
                        <div class="buttons mr-2">
                            <a class="button is-info" href="{% url 'register' %}">Register</a>                        
                       
                            <a class="button is-success" href="{% url 'login' %}">Log In</a>
                        </div>
                    {% endif %}
                </div>                
            </div>
        </nav>
        <div class="flex-wrapper">
            <section class="section mt-6">
                {% block body %}
                {% endblock %}
            </section>
            
            <footer class="footer has-background-grey-lighter">
                <div class="content has-text-centered">
                  <p>
                    <strong>Commerce</strong> by <a href="https://github.com/Dunadan99">Victorio Chanja</a>.
                     For the Web Development course <a href="https://cs50.harvard.edu/web/2020/">CS50w</a>.
                  </p>
                </div>
              </footer>
        </div>
    </body>
</html>
